body{
    background-color: whitesmoke;
    color: #e5e2db;    
}

#mainBody{
    width: 800px;
    margin: auto;
    box-shadow: 5px 10px black;
    background-color:  #595647;
    border-radius: 50px;
    overflow: hidden;
    padding-left: 10pt;
}

h1{
    color: #5dbcd2;
}

h2{
    color: #5dbcd2;
}

a{
    color: #d7565d;
}

.MvDesc{
    font-style: italic;
    
}

.mainHeader{
    font-size:300%;
}

.pInline{
    display: inline;
}

.img1{
    height: 200px;
    width: 200px;
    border-radius: 10%;
}

.img2{
    height: 200px;
    width: 350px;
    border-radius: 10%;
}

strong{
    color: yellow;
}

a:hover{
    color: red;
}

#back{
    color: yellow;
    font-size: 20px;
    text-align: right;
}