body{
    background-color: #595647;
    color: #e5e2db;
    
}

h1{
    color: #5dbcd2;
}

a{
    color: #d7565d;
}

.MvDesc{
    font-style: italic;
    
}

.mainHeader{
    font-size:300%;
}

.pInline{
    display: inline;
}

.img1{
    height: 200px;
    width: 200px;
}

.img2{
    height: 200px;
    width: 350px;
}

strong{
    color: yellow;
}

.back{
    color: teal;
    font-size: 40px;
}