body{
    background-image: url("../images/background.png");
}
li{
    font-family: monospace;
    list-style: none;
    font-size: 30pt;
}

#profilePicture{
    height: 300pt;
    width: 300pt;
    border-radius:50%;
}

.footerDiv{
    text-align: center;
}
